body{
	font-size: 30px;
	margin: 0px;
}
/*HEADER AND NAVIGATION SECTION*/
#body-header{
	height: 75vh;
	background-size: cover;
	background-position: center;
	opacity: 0.8;
	background-attachment: fixed;
	background-image: url(image/macbook_mouse.jpg);
}
/*Horizontal lists*/

.horizontal-list{
	padding-top: 10px;
	list-style: none;
	padding-left: 0px;
	margin: 0px;

}
.horizontal-list li{
	display: inline-block;
	color: white;
	margin: 0px 8px 8px 0px;
}
.horizontal-list li a{
	color: white;
	text-decoration: none;
	

}
.nav-menu li a{
	transition: color 0.5s, border-bottom 4s;
}
.nav-menu li a:hover{
	color:lightgrey;
	border-bottom: 1px solid white;
}
.text-center{
	text-align: center;
}
#name-social-container{
	margin-top: 20vh;
}
#my-name{
	font-size: 3rem;
	letter-spacing: 0.1rem;
	color: white;
	font-weight: 700;
	margin-bottom: 0.5rem;
}
.social-icons li a i{
	padding: 10px;
	font-size: 1rem;
	border-radius: 50%;
	transition: none;

}
.social-icons li a i:hover{
	box-shadow: 0px 0px 6px 4px rgba(230,196, 196, 0.3);
}

/*ABOUT SECTION*/
#about{
	height: auto;
	width: 100%;
	position: relative;

}
#about p{
	
	color: grey;
	font-weight: 500;
	width: 70vw;
	margin:  auto;
	text-align: justify;
	margin-top: 8px;
}
#my-image{
	height: 13rem;
	width: 13rem;
	margin: auto;
	margin-top: -17vh;


}
#my-image img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	box-shadow: 0px 0px 6px 6px rgba(230,196, 196, 0.3);	
}
